name: Build and deploy nais.audit
on:
  schedule:
    - cron: '0 2 * * 2'
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'resources/pipeline/audit.nais/Dockerfile'
jobs:
  build:
    name: Build audit.nais mock
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    env:
      image: 'ghcr.io/${{ github.repository }}/audit-nais-mock'
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # ratchet:actions/checkout@v4
      - name: Generate build version
        id: generate-build-version
        run: |
          echo "build-version=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
      - name: Print build version
        run: echo "Generated build-version is ${{ env.build-version }}"
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # ratchet:docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # ratchet:docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # ratchet:docker/build-push-action@v4
        with:
          context: resources/pipeline/audit.nais
          platforms: linux/amd64, linux/arm64
          pull: true
          push: true
          tags: ${{ env.image }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
