name: Utfører tester mot SUT
on:
  workflow_call:
    inputs:
      build-version:
        description: 'Docker tag (from repository)'
        type: string
        required: false
        default: 'latest'
      parallellitet:
        description: 'Ønsket parallelitet ved kjøring'
        type: string
        required: false
        default: '8'
      test-suite:
        description: 'Test suite å kjøre (fpsak|fptilbake|fpkalkulus|fplos|verdikjede)'
        type: string
        required: true
    outputs:
      resultat:
        description: "Test resultat"
        value: ${{ jobs.autotest.outputs.result }}
jobs:
  autotest:
    name: Kjører ${{ inputs.test-suite }}-tester mot ${{ github.repository }} ${{ inputs.build-version }}
    permissions:
     id-token: write
    runs-on: ${{ ((github.actor == 'dependabot[bot]' || inputs.test-suite == 'fpkalkulus' || inputs.test-suite == 'fplos') && 'ubuntu-latest') || 'ubuntu-latest-8-cores' }}
    timeout-minutes: 15
    outputs:
      result: ${{ steps.result.outputs.result }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
        if: github.repository == 'navikt/fp-autotest'
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
        if: github.repository != 'navikt/fp-autotest'
        with:
          repository: 'navikt/fp-autotest'
          ref: 'master'
      - name: Create maven .m2 settings for GITHUB
        uses: whelk-io/maven-settings-xml-action@9dc09b23833fa9aa7f27b63db287951856f3433d # ratchet:whelk-io/maven-settings-xml-action@v22
        with:
          repositories: '[{"id": "github", "name": "github", "url": "https://maven.pkg.github.com/${{ github.repository }}", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" }}]'
          servers: '[{ "id": "github", "username": "${{ github.actor }}", "password": "${{ secrets.READER_TOKEN}}" }]' # TODO: Endre til GITHUB_TOKEN etter fp-kalkulus lansering
          output_file: settings.xml
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 25
      - name: Cache for maven dependencies autotest
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-autotest-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-autotest
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # Use commit-sha1 instead of tag for security concerns
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login GAR
        uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf # ratchet:nais/login@v0
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: teamforeldrepenger
      - name: Setup keystore
        shell: bash
        run: |
          cd resources/keystore
          ./make-dummy-keystore.sh
      - name: Setup fpsak og dens avhengigheter
        id: setup
        shell: bash
        run: |
          if [[ ${{ inputs.test-suite }} == 'fpkalkulus' ]]; then
            services=("fpkalkulus")
          elif [[ ${{ inputs.test-suite }} == 'fplos' ]]; then
            services=("fplos" "fpsak" "fpformidling" "fpdokgen" "fpoppdrag" "fptilbake" "fprisk" "fpfordel" "fpsoknad" "fpkalkulus" "fpinntektsmelding")
          else
            services=("fpsak" "fpformidling" "fpdokgen" "fpoppdrag" "fptilbake" "fprisk" "fpabonnent" "fpfordel" "fpsoknad" "fpoversikt" "fpkalkulus" "fpinntektsmelding")
          fi

          cd resources/pipeline
          ./update-versions.sh ${{ github.repository }} ${{ inputs.build-version }}
          echo "Kjører docker compose up på følgende applikasjoner: ${services[*]}"
          docker compose -f compose.yml -f compose-github.yml pull --quiet "${services[@]}"
          docker stop $(docker ps -a -q) || docker rm $rm $(docker ps -a -q)
          docker compose -f compose.yml -f compose-github.yml up --wait "${services[@]}" || (docker ps ; echo "Oppstart feilet. Se etter tjenester som er \"unhealthy\" eller \"restarting\" i listen over." ; exit 1)
      - name: Utfører tester fra test suite ${{ inputs.test-suite }} mot SUT
        id: tester
        shell: bash
        run: mvn test -e --batch-mode -s settings.xml -Djuipter.parallelism=${{ inputs.parallellitet }} -P ${{ inputs.test-suite }} > >(tee test-result-log.txt)
      - name: Sjekker loggen etter feil
        if: (success() || failure()) && steps.setup.outcome == 'success'
        id: logger
        shell: bash
        run: |
          if [[ ${{ inputs.test-suite }} == 'fptilbake' ]]; then
            mvn test -e --batch-mode -s settings.xml -Djuipter.parallelism=${{ inputs.parallellitet }} -P loggfeil -DikkeSjekkLengdeAvContainer=fpdokgen,fpabonnent
          elif [[ ${{ inputs.test-suite }} == 'verdikjede' ]]; then
            mvn test -e --batch-mode -s settings.xml -Djuipter.parallelism=${{ inputs.parallellitet }} -P logger -DikkeSjekkLengdeAvContainer=fpdokgen
          elif [[ ${{ inputs.test-suite }} == 'fplos' ]]; then
            mvn test -e --batch-mode -s settings.xml -Djuipter.parallelism=${{ inputs.parallellitet }} -P logger -DikkeSjekkLengdeAvContainer=fpdokgen,fpabonnent,fpoppdrag,fpfordel
          elif [[ ${{ inputs.test-suite }} == 'fpsak' ]]; then
            mvn test -e --batch-mode -s settings.xml -Djuipter.parallelism=${{ inputs.parallellitet }} -P logger -DikkeSjekkLengdeAvContainer=fpdokgen,fpabonnent
          else
            mvn test -e --batch-mode -s settings.xml -Djuipter.parallelism=${{ inputs.parallellitet }} -P loggfeil
          fi
      - name: Sjekker minneforbruk
        if: failure() || cancelled()
        run: |
          docker stats --no-stream
          free -m
      - name: Utled testresultat
        if: (success() || failure()) && steps.setup.outcome == 'success'
        id: result
        shell: bash
        run: |
          if [[ ${{ steps.setup.outcome }} == 'success' ]]; then
            echo "result=test-${{ steps.tester.outcome }} logg-${{ steps.logger.outcome }}" >> $GITHUB_OUTPUT
          else
            echo "result=skipped" >> $GITHUB_OUTPUT
          fi

      - name: Generer testrapport
        if: inputs.test-suite != 'fplos' &&
            (success() || failure()) &&
            steps.setup.outcome == 'success' &&
            github.repository != 'navikt/fp-autotest'
        id: ghpages
        shell: bash
        continue-on-error: true
        run: |
          git fetch origin gh-pages
          mkdir gh-pages
          git --work-tree=gh-pages checkout origin/gh-pages -- ${{ inputs.test-suite }}/history
          resources/allure/set-environment-variables.sh ${{ github.repository }} ${{ inputs.test-suite }}
          cp resources/allure/environment.properties target/allure-results
          cp resources/allure/categories.json target/allure-results
          cp -r gh-pages/${{ inputs.test-suite }}/history target/allure-results
          mvn allure:report --batch-mode -s settings.xml
      - name: Tar testresultat
        if: (success() || failure()) && steps.ghpages.outcome == 'success'
        shell: bash
        continue-on-error: true
        run: tar -czf ${{ inputs.test-suite }}.tar.gz -C target/allure-report .
      - name: Laste opp testresultat
        if: (success() || failure()) && steps.ghpages.outcome == 'success'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: ${{ inputs.test-suite }}-testresultat
          path: ${{ inputs.test-suite }}.tar.gz
          retention-days: 1
      - name: Dumper logger for feilsøking
        if: failure() || cancelled()
        shell: bash
        run: |
          mkdir container-logs
          cd container-logs
          docker ps -a --format '{{.Names}}' | while read pod; do docker logs $pod > $pod.log 2>&1; done
      - name: Laste opp logger
        if: failure() || cancelled()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          name: logs-${{ inputs.test-suite }}
          path: container-logs
